@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team City Web Deploy </h1>
    <p class="lead">MVC application to test Team City Build and deplyment to IIS </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Account Details</h2>
        <p>
            @ViewBag.AccDetails
        </p>

    </div>

</div>